/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.clearfix ::after {
	content: "";
	display: block;
	clear: both;
}

li {
	list-style: none;
}

.top {
	width: 100%;
	margin: 100px 500px;
}

/* ヘッダー */

header {
	width: 100%;
	height: 100px;
	background-color: #ddd;
}

.header-contents, .main-contents, .footer-contents {
	width: 80%;
	margin: 0 auto;
}

.header-title {
	font-size: 30px;
	float: left;
	padding-top: 10px;
}

.nav-list {
	display: flex;
	float: right;
	line-height: 100px;
}

.nav-list-item {
	padding-right: 20px;
}

main {
	width: 100%;
}

.glyphicon-wrench {
	border: 1px solid #ddd;
	padding: 5px 20px;
	text-align: center;
}

/* フッター */

footer {
	width: 100%;
}

.footer-item {
	float: right;
}